body { padding-top: 60px; font-family: Arial; }
h2.header { margin-bottom: 20px; }
.margin-top-5 { margin-top: 5px; }
.margin-top-10 { margin-top: 10px; }
.breadcrumb { margin-bottom: 10px; border-bottom-width: 1px; }